.Rcontainer {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Full screen height */
    overflow: hidden; /* Prevent scrollbars */
}

.rcontainer {
    flex: 1;
    padding: 20px;
    margin-top: 10vh; /* Adjust for the topbar height */
    margin-left: 250px; /* Adjust for sidebar width */
    background-color: #f5f5f5; /* Light background */
    overflow: auto; /* Allow scrolling within the content area */
}

.rcontainer h1 {
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}

.date-picker {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.date-picker input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.chart-area {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevent scrollbars within the chart area */
    position: relative; /* Enable positioning of the download button */
}

/* Updated download button style */
.date-picker .download-btn1 {
    padding: 10px 20px;
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: relative;
    margin: none;
}

.download-btn:hover {
    background-color: #2c3e50;
}
