@import url('../../Styles/Variables.css');

/* Container for the whole login page */
.login-container {
  width: 100%;
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

/* Left side - logo and login form */
.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color : var(--white);
  padding: 2vw;
}

.text{
  color: var(--black);
  margin-bottom: 2vh;
  margin-top: 10vh;
  font-size: 15px;
}


.logo-container {
  text-align: center;
  margin-top: -5vh;
  overflow: hidden;
}

.logo {
  width: 100px; 
  height: auto;
  border-radius: 50%;
}

h2 {
  margin: -3vh;
  font-size: 70px;
  font-family: var(--heading);
}

p {
  font-size: 30px;
  color: var(--color1);
}

.login-form {
  width: 100%;
  max-width: 25vw;
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  
}
span{
  padding: 10px;
  font-size: 14px;
}
.login-button {
  background-color: var(--color1);
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--color2);
  color: var(--color1);
}

/* Right side - image and text */
.login-right {
  flex: 1;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  background-image: url('../../assets/admin.jpeg'); /* Background image */

  background-size: cover;
  background-position: center;
}

.forgot-password {
  font-size: 14px;
}

.info-text {
  z-index: 2;
  max-width: 400px;
}

h3 {
  font-size: 24px;
  color: var(--color4);
  font-family: var(--monospace);
  font-weight: bolder;
  width: 85%;
  position: absolute;
  top: 75%;
  text-align: center;
}

 p {
  font-size: 18px
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3; /* Adjust the opacity of the background image */
  z-index: 1; 
}