@import url(../../Styles/Variables.css);

.sidebar {
    height: 100vh;
    width: 250px;
    background-color: var(--color1);
    color: var(--white); /* Light text color */
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed; /* Fixed position */
    transition: width 0.3s ease;
}

.admin-info {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    top: 35vh;
}

.admin-info h2 {
    font-size: 20px;        /* Increase font size for the name */
    color: var(--color3);         /* Set a unique color for the admin name */
    font-weight: bold;      /* Make the admin name bold */
    margin: 0;
    font-family: var(--monospace);
}

.admin-info p {
    font-size: 16px;        /* Set a font size for the email */
    color: #ecf0f1;         /* Set the email text color */
    font-style: italic;            /* Move the email up */
    font-family: 'Open Sans', sans-serif; 
}

hr {
    border: 1px solid #34495e; /* Stylish line */
    margin: 10px 0;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #ecf0f1;
    transition: background 0.3s, color 0.3s; /* Smooth hover transition */
}

.menu-item:hover {
    background-color: #34495e; /* Highlight color on hover */
    color: #fff; /* Text color on hover */
}

.menu-item svg {
    margin-right: 10px; /* Space between icon and text */
}

/* Responsive styles */
@media (max-width: 768px) {
    .sidebar {
        width: 200px; /* Adjust width for smaller screens */
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 150px; /* Further adjust for mobile */
    }
}
