@import url(../../Styles/Variables.css);

.topbar {
    width: 100%;
    background-color: #2c3e50; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .company-name {
    font-size: 1.5em;
    display: flex;
  }

  .company-name p{
    color: var(--white);
    font-family: var(--body);
    font-weight: bolder;
    margin-bottom: none;
    padding-top: 15px;
    font-size: 1.5rem;
  }

  .company-name img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .logout-button {
    background-color: #e74c3c; /* Red button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #c0392b;
  }
  