.Rcontainer {
    display: flex;
    height: 100vh; /* Full viewport height */
}

.rcontainer {
    flex-grow: 1; 
    margin-left: 250px; 
    padding: 0 5px 5px;
    background-color: #f5f5f58f; 
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around; /* Spread buttons across the container */
    flex-grow: 1; /* Ensure the container takes up remaining space */
}

.report-button {
    flex: 1 1 calc(33.333% - 40px); /* Adjust width and spacing */
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    background-color: #3498db; /* Default button color */
}

.report-button:hover {
    background-color: #2980b9; /* Hover color */
}