@import url('../../Styles/Variables.css');

.dashboard {
    display: flex;
    flex-direction: column;
    background: linear-gradient(225deg,var(--white), var(--color4), var(--color3) );
}

.dashboard .dashboard-welcome {
    padding-top: 4vh;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/assets/Welcome.jpg') ;
    background-size: cover;
    background-position: center;
    background-color: rgba(223, 222, 231, 0.749);
    background-blend-mode: overlay;
    position: fixed;
}

.dashboard .dashboard-welcome h1 {
    font-size: 200px;
    font-family: var(--heading);
    font-weight: bolder;
    color: var(--color5);
    text-align: center;
    margin-top: 20vh;
    text-shadow: 5px 5px 1px var(--color4);
}

.dashboard .dashboard-welcome p {
    position: relative;
    font-size: 30px;
    font-family: var(--monospace);
    font-weight: bolder;
    color: var(--color6);
    left: 50vw;
    top: -8vh;
    text-shadow: 1px 1px 1px var(--color4);
}

.dashboard .dashboard-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh 0vw;
    margin-top: 100vh;
    background: linear-gradient(225deg,var(--white), var(--color4), var(--color3) );
    z-index: 1;

}

.dashboard .dashboard-products h1 {
    font-size: 57px;
    font-family: var(--heading);
    font-weight: bolder;
    color: var(--color1);
    text-align: center; 
}


.dashboard .dashboard-products .dashboard-products-grid {
    margin: 15vh 0 6vh 0;
    overflow: hidden;
}

.dashboard .dashboard-products .dashboard-products-grid .cat-grid {
    height: fit-content;
    grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
    column-gap: 1%;
    margin-bottom: 0px;
    position: relative;
    top: 0;
    left: 0;
}

.dashboard .dashboard-products  .carousel-container {
    background: linear-gradient(225deg,var(--white), var(--color4) );
}