@import url('../../Styles/Variables.css');

.dashboard {
    display: flex;
    flex-direction: column;
    background: linear-gradient(225deg,var(--white), var(--color4), var(--color3) );
}

.dashboard .dashboard-welcome {
    display: flex;
    padding-top: 4vh;
}

.dashboard .dashboard-welcome div h1 {
    font-size: 120px;
    font-family: var(--heading);
    font-weight: bolder;
    color: var(--color5);
    text-align: center;
    width: 50vw;
    position: relative;
    top: 30vh;
}

.dashboard .dashboard-welcome div p {
    position: relative;
    font-size: 30px;
    font-family: var(--monospace);
    top: 25vh;
    left: 15vw;
}

.dashboard .dashboard-products {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.dashboard .dashboard-products h1 {
    font-size: 50px;
    font-family: var(--heading);
    font-weight: bolder;
    color: var(--color1);
    text-align: center;
}


.dashboard .dashboard-products .dashboard-products-grid {
    width: 80%;
    margin: auto;
    margin-top: -5vh;
}