.DScontainer {
    display: flex;
    height: 100vh; /* Full viewport height */
}

.DScontainer h1 {
    margin-left: 20px;
    margin-top: 20px;
}

.dscontainer {
    flex-grow: 1; /* Take up the remaining space */
    margin-left: 250px; 
 
    padding: 0 5px 5px;
    background-color: #f5f5f58f; 
    flex-direction: column; 
    gap: 20px; 
}

