.DScontainer {
    display: flex;
    height: 100vh; 
    padding: 1vh 3vw 3vh 4vh;
}

.DScontainer h1 {
    margin-left: 20px;
    margin-top: 20px;
}

.dscontainer {
    flex-grow: 1; /* Take up the remaining space */
    margin-left: 250px; 
 
    padding: 0 5px 5px;
    background-color: #f5f5f58f; 
    flex-direction: column; 
    gap: 20px; 
}

.order-table {
  padding: 20px;
  padding-right:  10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    width: 80%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    flex-direction: row;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }