.carousel-container {
    overflow: hidden;
    position: relative;
    padding: 0vh 0vw 4vh 0vw;
    ;
}

.slider{
    overflow: hidden;
}

.carousel-container p{
    font-size: 40px;
    font-family: var(--body);
    font-weight: bolder;
    text-align: center;
    padding: 10px ;
    margin-bottom: 2vh;
}

.slider img{
    object-fit: cover;
    width: 100%;
    height: 90%;
}


