/* Sidebar.css */

/* General styles for list items */
.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 14vh; /* Adjust this value to change the height */
    display: flex; /* Align content vertically */
    align-items: center;
    background-color: black !important;
    color: white !important; /* Text color white */
    font-size: 18px; /* Font size adjustment */
    font-weight: bold; 
    margin: 1px;
}

/* Define the width of the sidebar */
.listitem {
    width: 150px; /* Default width */
    margin: 10px;
    transform:translate(0%,20%);
}

/* Change background color for small screens */
@media (max-width: 600px) {
    

    .list-group-item {
        height: auto; /* Auto height for list items */
        
        padding: 10px ; /* Add some padding */
    }
}

/* Change background color on hover */
.list-group-item:hover {
    background-color: #1e899c !important; 
}

.selected{
    background-color: blueviolet !important;
}