@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root {
    --color1: #2c3e50;
    --color2: #3A6D8C;
    --color3: #6A9AB0;
    --color4: #EAD8B1;
    --green: #08df4c;
    --red: #f32c2c;
    --white: #FFFFFF;
    --black: #000000;

    --heading: 'Poppins', sans-serif;
    --body: 'Roboto', sans-serif;
    --monospace: 'Courier New', monospace;
}