@import url(../../Styles/Variables.css);

.ADcontainer-dashboard {
    height: 100vh; 
    width: 90vw;
    padding: 13.5vh 2vw 0 2vw;
    background-color: var(--white);
}

.ADcontainer-dashboard .Acontainer {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    background-color: var(--white);
}

.Acontainer .store-info{
    color: var(--color3);
}

.Acontainer .store-info span{
    font-size: 2rem;
    font-weight: bolder;
    font-family: var(--monospace);
    color: var(--color2);
}

.Acontainer .store-info h2{
    font-size: 2rem;
    font-weight: bolder;
    font-family: var(--heading);
}

/* Widgets Row - Side by Side */
.widgets-row {
    display: flex;
    gap: 20px; /* Space between widgets */
    justify-content: space-between; /* Ensure widgets take full width */
}

/* Widget Styling */
.widget {
    background: linear-gradient(135deg, var(--color3),var(--color2), var(--color1)); 
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 48%; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    text-align: center;
    position: relative;
    min-height: 150px;
    transition: box-shadow 0.3s ease; 
}

.widget:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); 
}

.widget h3 {
    font-size: 1.2em;
    margin-top: 10px;
}

.incomplete-orders h3 {
    font-size: 1.1em;
    margin-top: 5px;
}


.widget p, .incomplete-orders p {
    font-size: 2em;
    font-weight: bold;
}

.widget .progress-bar, .incomplete-orders .progress-bar {
    background-color: #ffffff38;
    border-radius: 5px;
    height: 10px;
    width: 100%;
    margin-top: 10px;
}

.progress {
    background-color: var(--white);
    height: 100%;
    border-radius: 5px;
    transition: width 0.4s ease;
}

.incomplete-orders .progress {
    background: var(--red); 
    padding: 0px;
}
.incomplete-orders{
    background: linear-gradient(135deg, var(--color3),var(--color2), var(--color1)); 
    color: white;
    padding: 0 20px;
    border-radius: 10px;
    width: 100%; 
    height: 12vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    text-align: center;
    position: relative;
    transition: box-shadow 0.3s ease; 
    margin-bottom: 2vh;
}

.incomplete-order-container .incomplete-orders p{
    margin: 0px;
}

.Acontainer .calender-order-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-top: 1vh;
}

.incomplete-order-container .incomplete-orders .progress-bar{
    margin: 0px;
}

.Acontainer .incomplete-order-container{
    width: 44vw;
}

.calendar-container {
    width: 30vw;
    min-height:43vh;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}

.calendar-container .react-calendar{
    width: 100%;
    border: none;
    max-height: 30vh;
}

.calendar-container .react-calendar__navigation{
    margin: 0;
}

.calendar-container:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); 
}


.incomplete-orders-table {
    max-height: 28vh;
    overflow-y: auto; 
    border-radius: 1cqh;
}

.orders-table {
    width: 100%;
    border-collapse: collapse; 
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.orders-table thead {
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure header stays on top */
    background-color: var(--color3); /* Ensure header background stays visible */
}

.orders-table th {
    padding: 15px;
    background-color: var(--color3); /* Header background color */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.orders-table td {
    padding: 15px;
    text-align: left;
    background-color: var(--light-grey);
    border-bottom: 1px solid #ddd;
}

.orders-table tbody tr:hover {
    background-color: var(--hover-grey); /* Row highlight on hover */
}

.orders-table tbody td {
    font-size: 0.9em;
    color: var(--dark-grey);
}

.orders-table tr:last-child td {
    border-bottom: none; /* Remove border from last row */
}

  