.cart {
  padding: 10px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(225deg, var(--color4), var(--color3));
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-heading {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 2.5rem;
  color: #333;
}

.cart-subheading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.2rem;
  margin-top: 5px;
  color: #666;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  
}

.cart-table th, .cart-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.cart-table th {
  background-color: #f1f1f1;
  font-size: 16px;
  font-weight: bold;
}

.cart-item-row {
  background-color: #fff;
}

.cart-item-details {
  display: flex;
  align-items: center;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.item-info h3 {
  margin: 0;
  font-size: 18px;
}

.cart-summary {
  text-align: right;
}

.cart-summary h4 {
  font-size: 18px;
  color: #333;
}

.checkout-btn {
  padding: 10px 20px;
  background-color: #d73ae5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #8d00b8;
}

.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ab5cfb;
  font-size: 1.2rem;
  padding: 5px;
}

.delete-btn:hover {
  color: #cc0000;
}
