@import url(../../Styles/Variables.css);

.driver-container {
    padding: 13vh 3vw 3vh 21vw;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.driver-title {
    font-size: 3.5em;
    font-weight: bolder;
    font-family: var(--heading);
    margin-bottom: 20px;
    text-align: center;
    color: var(--color2);
}

.driver-content {
    overflow-x: auto;
    border-radius: 10px;
}

.driver-table {
    width: 100%;
    border-collapse: collapse;
}

.driver-table-head {
    background-color: #f2f2f2;
}

.driver-table-row:hover {
    background-color: #ddd;
}

.driver-table-body .driver-table-row:nth-child(even) {
    background-color: #f9f9f9;
}

.driver-table-header, .driver-table-data {
    padding: 12px 15px;
    text-align: center; /* Center-align text */
    border-bottom: 1px solid #ddd;
}

.driver-table-header {
    font-weight: bold;
    background-color: #f2f2f2;
}

.driver-table-data {
    color: #555;
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #ff1a1a;
}

.add-driver {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-driver input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.add-driver-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-driver-button:hover {
    background-color: #45a049;
}
