@import url('../../Styles/Variables.css');

.products {
    font-family: var(--heading);
    padding: 0px 15px;
    background-color: var(--color4);
    overflow: hidden;
}

.products h1 {
    font-size: 50px;
    font-family: var(--heading);
    font-weight: bolder;
    color: var(--color1);
    text-align: center;
    position: relative;
    top: 8vh;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    position: relative;
    top: 10vh;
    margin-bottom: 15vh;
}

.product-item {
    background-color: var(--white);
    border: 1px solid var(--color3);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.product-item img {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    border-radius:8px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 6px;
    color: var(--color6);
}

.product-price {
    color: var(--color1);
    margin-bottom: 5px;
}

.add-to-cart {
    border-radius: 5px;
    border: none;
    padding:8px 10px;
    font-weight: bolder;
    cursor: pointer;
    background-color: var(--color5);
    color: var(--color4);
}

.add-to-cart:hover {
    background-color: var(--color6);
}   